.gradient-border {
  border: 4px solid transparent; /* Set the border width */
  border-image: linear-gradient(
    120deg,
    rgb(20, 33, 61, 0.2) 20%,
    rgb(252, 163, 17) 70%
  );
  border-image-slice: 1; /* Ensures the gradient covers the entire border */
  padding: 20px; /* Add padding for content */
}
.banner {
  animation: whirl ease infinite 6s;
}
@keyframes whirl {
  50% {
    transform: rotateY(360deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
input:focus {
  border: 1px solid rgb(252, 163, 17);
  outline: none;
  outline-offset: 5px;
}

